.pageNav {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pageNavItem {
  text-decoration: none;
  color: #495057;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 500;
  position: relative;
}

.pageNavItem:hover {
  background-color: #e9ecef;
  color: teal;
}

.pageNavItem_active {
  font-weight: bold;
  color: teal;
}

.count {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: salmon;
  color: white;
  height: 14px;
  width: 14px;
  font-size: 10px;
  font-weight: bold;
}
